@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

@font-face {
    font-family: flash;
    src: url("../font/flash/Flash.ttf");
}



body {
    font-family: "Monsterat", sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: 0.9s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
    width: 100vw;
    height: 100vh;
    background-image: url("../images/formation.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: darkgray; */
    background-color: #efefef;
}

.vers_projet {
    position: absolute;
    left: 85vw;
    top: 10vh;
    font-size: xx-large;
    text-shadow: 16px 22px 11px rgba(0,0,0,0.13);
}

.vers_about {
    position: absolute;
    left: 8vw;
    top: 10vh;
    font-size: xx-large;
    text-shadow: 16px 22px 11px rgba(0,0,0,0.13);
}

.vers_formation {
    position: absolute;
    left: 8vw;
    top: 80vh;
    font-size: xx-large;
    text-shadow: 16px 22px 11px rgba(0,0,0,0.13);
}

.vers_veille {
    position: absolute;
    left: 71vw;
    top: 80vh;
    font-size: xx-large;
    text-shadow: 16px 22px 11px rgba(0,0,0,0.13);
}

.titre_veille {
    font-size: xx-large;
    left: 174vw;
    top: 183vh;
    position: absolute;
	font-weight: bold;
	font-size: 3rem;
}

.veille_acceuil {
    position: absolute;
    left: 105vw;
    top: 106vh;
    font-size: xx-large;
}

.acceuil {
    transform: translate(0,0);
}

.projet {
    transform: translate(-100vw,100vh);
}

.about {
    transform: translate(100vw,100vh);
}

.formation {
    transform: translate(100vw,-100vh);
}

.veille {
    transform: translate(-100vw,-100vh);
}

.moi {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    position: absolute;
    left: 15vw;
    top: 18vh;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 29px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    border-radius: 30vw;
    width: 30vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: rgba(235, 235, 235, 0.25); */
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
}

.nom {
    font-size: 600%;
    font-weight: 900;
    text-shadow: 16px 22px 18px rgba(0,0,0,0.3);
}

.prenom {
    font-size: 400%;
    font-weight: 900;
    color: darkorange;
    text-shadow: 16px 22px 18px rgba(255,140,0,0.4);
}


a.button{
	text-decoration: none;
	color: darkgray;
	font-weight: bold;
	font-size: 3rem;
	padding: 10px;
}


/* BUTTON EEN */

a.button:before, a.button:after{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	transition: all 0.3s ease;
}
a.button:before{
	top: -3px;
	left: -3px;
	border-top: 5px solid darkorange;
	border-left: 5px solid darkorange;	
}
a.button:after{
	bottom: -3px;
	right: -3px;
	border-bottom: 5px solid darkorange;
	border-right: 5px solid darkorange;
}
a.button:hover:before, a.button:hover:after{
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}

.tortue {
    position: absolute;
    right: 30vw;
    top: 23vh;
    transition: 1.7s 0.3s cubic-bezier(0.35, 0, 0.07, 1);
    z-index: 10;
}

.tortue_flotte {
    transition: 1.7s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
    /* transform: translateY(-3vh); */
}

.tortue.projet {
    transition: 1.7s 0.3s cubic-bezier(0.35, 0, 0.07, 1) !important;
    /* transform: translate(52vw,-115vh) scaleX(-1) scaleX(-1); */
}

.tortue.about {
    transition: 1.7s 0.3s cubic-bezier(0.35, 0, 0.07, 1) !important;
    /* transform: translate(-152vw,-100vh) scaleX(-1) scaleX(-1); */
}

.tortue.formation {
    transition: 1.7s 0.3s cubic-bezier(0.35, 0, 0.07, 1) !important;
    /* transform: translate(-82vw,100vh) scaleX(-1); */
}

.tortue.veille {
    transition: 1.7s 0.3s cubic-bezier(0.35, 0, 0.07, 1) !important;
    /* transform: translate(122vw,100vh) scaleX(-1); */
}

.tortue.infini {
    transition: 0.3s 0s cubic-bezier(0.35, 0, 0.07, 1) !important;
    transform: translateX(100vh) !important;
}
.tortue.reset {
    transition: none;
    transform: translateX(-160vh) !important;
}

.fleche {
    position: absolute;
    right: 7vw;
    top: 38vh;
    width: 8vw;
    height: auto;
    cursor: pointer;
}

.underline{
    position: relative;
    display: inline-block;
}
.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: auto;
    left: 0;
    width: 110%;
    height: 5px;
    background-color: darkorange;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    top: 5vh;
    border-radius: 30px;
    box-shadow: 16px 18px 11px rgba(255,140,0,0.4);
}