@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

@font-face {
    font-family: flash;
    src: url("../font/flash/Flash.ttf");
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: 0.9s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}

.vers_projet {
    position: absolute;
    left: 85vw;
    top: 10vh;
    font-size: xx-large;
}

.vers_about {
    position: absolute;
    left: 8vw;
    top: 10vh;
    font-size: xx-large;
}

.vers_centre_interet {
    position: absolute;
    left: 8vw;
    top: 80vh;
    font-size: xx-large;
}

.vers_veille {
    position: absolute;
    left: 78vw;
    top: 80vh;
    font-size: xx-large;
}

.titre_about {
    font-size: xx-large;
    left: -95vw;
    bottom: 92vh;
    position: absolute;
}

.about_acceuil {
    position: absolute;
    left: -8vw;
    bottom: 92vh;
    font-size: xx-large;
}

.titre_projet {
    font-size: xx-large;
    left: 104vw;
    bottom: 93vh;
    position: absolute;
}

.projet_acceuil {
    position: absolute;
    left: 190vw;
    bottom: 92vh;
    font-size: xx-large;
}

.titre_centre_interet {
    font-size: xx-large;
    left: -95vw;
    top: 106vh;
    position: absolute;
}

.centre_acceuil {
    position: absolute;
    left: -8vw;
    top: 106vh;
    font-size: xx-large;
}

.titre_veille {
    font-size: xx-large;
    left: 104vw;
    top: 106vh;
    position: absolute;
}

.veille_acceuil {
    position: absolute;
    left: 190vw;
    top: 106vh;
    font-size: xx-large;
}

.acceuil {
    transform: translate(0,0);
}

.projet {
    transform: translate(-100vw,100vh);
}

.about {
    transform: translate(100vw,100vh);
}

.centre_interet {
    transform: translate(100vw,-100vh);
}

.veille {
    transform: translate(-100vw,-100vh);
}

.moi {
    position: absolute;
    left: 20vw;
    top: 35vh;
}

.nom {
    font-size: 600%;
    font-weight: 900;
}

.prenom {
    font-size: 400%;
    font-weight: 900;
    color: darkred;
}