@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

@font-face {
    font-family: flash;
    src: url("../font/flash/Flash.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Lora, sans-serif;
}

@media screen and (max-width: 750px) {
    body {
        display: unset !important;
    }
}

p {
    margin: 0;
}

#login {
    position: absolute;
    z-index: -2;
    /* visibility: hidden; */
    overflow: hidden
}

#projet {
    position: absolute;
    z-index: -2;
    overflow: hidden
}

#template_miel {
    position: absolute;
    opacity: 0;
    z-index: -2;
    transition: 0.3s;
    background-image: url("../images/miel_bg.jpg");  
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    overflow: hidden
}

#template_appiculteur {
    position: absolute;
    opacity: 0;
    z-index: -2;
    transition: 0.3s;
    background-image: url("../images/miel_bg.jpg");  
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    overflow: hidden
}

#accueil {
    position: absolute;
    z-index: -2;
    overflow: hidden
}

.cacher {
    transform: translateX(calc(-103% - 10vw)) !important;
}

.cacher_bas {
    transform: translateY(50vh) !important;
}

/* .show {
    transform: translate(-50%, 0) !important;
} */

.abso {
    position: absolute;
    /* transform: translateY(-113%); */
    top: 34vh;
}

#start {
    position: relative;
    z-index: 2;
}

#appiculteur {
    z-index: 1;
}

#miel {
    z-index: 1;
}

.tej {
    transform: translateY(102%) !important;
}

.miel_slide {
    /* transform: translate(-150%, -110%) !important; */
    opacity: 1 ;
    visibility: visible !important;
    /* z-index: 100 !important; */
    object-fit: cover;
    width: 15vw;
    height: 26vh;
    transition: 0.9s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
    box-shadow: 0px 10px 20px #555;
    border-radius: 30px;
    pointer-events: none;
}

@media screen and (max-width: 750px) {
    .miel_slide {
        width: 45vw !important;
    }
    .abso {
        top: 20vh;
    }
}

#burger-toggle:checked~.miel_slide {
    opacity: 0.2;
}

.space_titre {
    position: absolute;
    top: 26vh;
    left: 24vw;
    /* width: 70vw; */
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    .space_titre {
        top: 42vh !important;
        left: 12vw !important;
    }
    .space_description {
        left: 10vw !important;
        top: 50vh !important;
    }
}

.titre_miel {
    margin-left: 10vw;
    font-size: xx-large;
    font-weight: 900;
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
    /* border-top: 6px solid #666666;
    border-right: 6px solid #666666; */
}

.space_description {
    position:  absolute;
    top: max(440px, 50vh);
    left: 19vw;
    width: 72vw;
    height: 44vh;
    overflow: hidden;
    /* background-color: #555;
    border-radius: 30px; */
}

.description {
    font-weight: 700;
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
    /* border-top: 6px solid #666666;
    border-left: 6px solid #666666; */
}

.pancarte {
    position: absolute;
    left: 75vw;
    top: 0;
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}

.pancarte img {
    width: 200px;
}

@media screen and (max-width: 750px) {
    .pancarte {
        left: 72vw !important;
    }
    .pancarte img {
    width: 100px;
    }
    .prix {
        font-size: 30px !important;
        transform: translateY(-50px) !important;
    }
}

.prix {
    /* position: absolute; */
    transform: translateY(-90px);
    color: rgb(211, 162, 47);
    font-size: 50px;
    font-family: flash;
    justify-content: center;
    display: flex;
    align-items: center;
}

.cacher_pancarte {
    transform: translateY(-102%) !important;
}





#burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
}

#burger-toggle:checked~.menu {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

#burger-toggle:checked~.menu .menu-nav-link span div {
    transform: translateY(0);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}

#burger-toggle:checked~.menu .title .show {
    transform: translateY(0) !important;
}

#burger-toggle:checked~.menu .show {
    transform: translate(-50%, 0) !important;
}

#burger-toggle:checked~.menu .image-link:nth-child(1) img {
    transition-delay: 0.18s;
    transition: 0.9s 0.18s cubic-bezier(0.35, 0, 0.07, 1);
}

#burger-toggle:checked~.menu .image-link:nth-child(2) img {
    transition-delay: 0.26s;
    transition: 0.9s 0.26s cubic-bezier(0.35, 0, 0.07, 1);
}

#burger-toggle:checked~.menu .image-link:nth-child(3) img {
    transition-delay: 0.34s;
    transition: 0.9s 0.34s cubic-bezier(0.35, 0, 0.07, 1);
}

#burger-toggle:checked~.menu .image-link:nth-child(4) img {
    transition-delay: 0.42s;
    transition: 0.9s 0.42s cubic-bezier(0.35, 0, 0.07, 1);
}

#burger-toggle:checked~.burger-menu .line::after {
    transform: translateX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(1) {
    transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}

#burger-toggle:checked~.burger-menu .line:nth-child(2) {
    transform: scaleX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(3) {
    transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}

.burger-menu {
    --burger-menu-radius: 4em;
    position: fixed;
    top: 60px;
    left: 113px;
    z-index: 1000;
    display: block;
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .burger-menu {
        left: 3vw;
        top: 3vh;
    }
}

.burger-menu .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1000px;
    overflow: hidden;
    transition: 0.5s;
}

.burger-menu .line:nth-child(1) {
    top: 30%;
}

.burger-menu .line:nth-child(2) {
    top: 50%;
}

.burger-menu .line:nth-child(3) {
    top: 70%;
}

.burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    transform: translateX(-100%);
    transition: 0.25s;
}

.burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
}

.burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
}

.burger-menu:hover .line::after {
    transform: translateX(0);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(26, 30, 35, 0.8);
    opacity: 0;
    overflow-x:hidden;
    visibility: hidden;
    z-index: 2;
    transition: 0.3s;
}

@media screen and (max-width: 750px) {
    .menu {
        display: block;
    }
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

@media screen and (max-width: 750px) {
    .menu-nav {
        flex-direction: column;
    }
}

.menu-nav-item {
    flex: 1;
}

.menu-nav-link {
    position: relative;
    display: inline-flex;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.menu-nav-link span {
    overflow: hidden;
}

.menu-nav-link span div {
    transform: translateY(102%);
}

.menu-nav-link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: yellow;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.menu-nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.menu .gallery {
    margin-top: 40px;
    text-align: center;
}

.menu .title {
    font-size: 24px;
    color: white;
    overflow: hidden;
}

.menu .title p {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(102%);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}

.menu .images {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
    .menu .images {
        justify-content: center;
    }
}

.menu .images .image-link {
    width: 15vw;
    height: 250px;
    margin: 0 12px;
    overflow: hidden;
    animation: show-overflow 2s;
    transition: height 2s;
    border-radius: 30px;
}

@media screen and (max-width: 750px) {
    .menu .images .image-link {
        width: 40vw;
        margin: 0 12px 12px 0;
    }
}

.menu .images .image-link .image {
    position: relative;
    transition: 0.6s;
}

.menu .images .image-link .image::before {
    position: absolute;
    content: attr(data-label);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.4s;
}

@media (hover: hover) and (pointer: fine) {
    .menu .images .image-link .image:hover {
    transform: scale(1.2, 1.2);
    }

    .menu .images .image-link:hover .image::before {
    opacity: 1;

    z-index: 10000;
    }
}

.menu .images img {
    height: 250px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 102%) !important;
    /* transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1); */
}

.image_accueil img {
    height: 100%;
    /* width: 100%; */
}

.mobil img{
    height: 100%;
    width: 100%;
}

.mobil {
    height: 100%;
    width: 100%;
}