.projet_cont {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    left: 100vw;
    /* background-image: url("../images/formation.png"); */
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titre_projet {
    font-size: xx-large;
    left: 86vw;
    bottom: 88vh;
    position: absolute;
	font-weight: bold;
	font-size: 3rem;
    text-shadow: 16px 22px 11px rgba(0,0,0,0.2);
}

.projet_acceuil {
    position: absolute;
    left: 5vw;
    bottom: 8vh;
    font-size: xx-large;
    text-shadow: 16px 22px 11px rgba(0,0,0,0.15);
}

.cards_cont {
    position: absolute;
    /* background-color: red; */
    height: 65vh;
    width: 55vw;
    left: 25vw;
    top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cards_cont .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.cards_cont .card .content {
    /* transform: translateY(100px); */
    /* opacity: 0; */
	font-weight: bold;
	font-size: 1.6rem;
    /* color: gray; */
    transition: 0.5s;
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 15px;
    display: inline;
}
.content .image {
    width: 260px;
    height: auto;
    opacity: 0.6;
}
.content .voir_plus {
    pointer-events: all;
    position: absolute;
    left: 75px;
    bottom: 25px;
    height: 40px;
    width: 120px;
    background-color: transparent;
    border: 3px solid darkorange;
    border-radius: 40px;
    font-size: 1.2rem;
	font-weight: bold;
    color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cards_cont .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}