.projet_cont {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    left: 100vw;
    /* background-image: url("../images/formation.png"); */
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titre_projet {
    font-size: xx-large;
    left: 86vw;
    bottom: 88vh;
    position: absolute;
	font-weight: bold;
	font-size: 3rem;
    text-shadow: 16px 22px 11px rgba(0,0,0,0.2);
}

.projet_acceuil {
    position: absolute;
    left: 5vw;
    bottom: 8vh;
    font-size: xx-large;
    text-shadow: 16px 22px 11px rgba(0,0,0,0.15);
}

.cards_cont {
    position: absolute;
    /* background-color: red; */
    height: 65vh;
    width: 59vw;
    left: 23vw;
    top: 5vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    transition: 0.750s cubic-bezier(0.35, 0, 0.07, 1);
}
.cards_cont_decale {
    position: absolute;
    /* background-color: red; */
    height: 65vh;
    width: 59vw;
    left: 23vw;
    top: 23vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    transition: 0.750s cubic-bezier(0.35, 0, 0.07, 1);
    opacity: 0;
    transform: translateX(60vw);
    z-index: -2;
}
.card {
    position: relative;
    width: 15vw;
    height: 36vh;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.card .content {
    /* transform: translateY(100px); */
    /* opacity: 0; */
	font-weight: bold;
	font-size: 1.25rem;
    /* color: gray; */
    transition: 0.5s;
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 15px;
    display: inline;
}
.content .image {
    width: 260px;
    height: auto;
    opacity: 0.7;
    border-radius: 10px;
}
.content .voir_plus {
    pointer-events: all;
    position: absolute;
    left: 75px;
    bottom: 18px;
    height: 40px;
    width: 120px;
    background-color: transparent;
    border: 3px solid darkorange;
    border-radius: 40px;
    font-size: 1.2rem;
	font-weight: bold;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.content .bee {
    height: 40px;
    width: auto;
}

.content .vroom {
    height: 51px;
    width: auto;
}

.round {
    position: absolute;
    border: 4px solid darkorange;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    top: 47vh;
    right: 13vw;
    cursor: pointer; 
    backdrop-filter: blur(4px); /* Chrome and Opera */
    /* box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%); */
    background-color: rgb(228 228 228 / 15%); 
    transition: 0.750s ease-in-out;
}
.round:active {
    scale: 0.8;
    transition: 0.2s;
}
#cta{
    width:100%; 
    cursor: pointer; 
    position: absolute;
}

#cta .arrow{left: 35%;}
.arrow {position: absolute;
    bottom: 0;  
    margin-left:0px; 
    width: 22px; 
    height: 22px; 
    background-size: contain; 
    top: 28px;
}
.segunda{margin-left: 10px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojYTlhOWE5fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
    0% {opacity: 1; transform: translateX(0px) scale(1);}
    25%{opacity: 0; transform:translateX(20px) scale(0.9);}
    26%{opacity: 0; transform:translateX(-20px) scale(0.9);}
    55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.rotate {
    transform: rotate(-180deg);
}

.projet_slide {
    transform: translateX(-60vw);
    opacity: 0;
    z-index: -2;
}

.slide_back {
    transform: none;
    opacity: 1;
    z-index: 1;
}
